{% extends 'base.html' %}

{% block title %}
Добавление задания
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавление задания</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название задачи">
        <textarea name="content" id="content" class="form-control" placeholder="Введите основной текст"></textarea><br>
        <input type="submit" class="btn btn-outline-success" value="Отправить">
    </form>
</div>
{% endblock %}